.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: #eee;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.modal-container {
    border-radius: 10px;
    position: relative;
    padding: 30px;
    color: #fff;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: #fff;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}